<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.sourceflux.twitdvr</string>
	<key>ProgramArguments</key>
	<array>
		<string>/var/dvr/record.py</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/var/dvr/logs/err.log</string>
	<key>StandardOutPath</key>
	<string>/var/dvr/logs/out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<integer>30</integer>
		<key>Hour</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
